@{
    // here you can type in C#
    ViewData["Title"] = "Home Page";
    string[] days = ViewData["days"] as string[];
}

<div class="text-center">
    <h1 class="display-4">Welcome to COMP4870.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @* <ul>
        @foreach (var item in days)
        {
         <li>@item</li>   
        }
    </ul> *@
    <ol>
        <li>A01280625</li>
        <li>Yoshiyuki Nagai</li>
        <li>Language agnostic full-stack, frontend, backend web developer</li>
    </ol>
</div>
