@using System.Diagnostics
@model System.Diagnostics.Process[]
@{
    // here you can type in C#
    ViewData["Title"] = "Home Page";
    @* var procs = ViewBag.Procs as Process[]; *@

}

<div class="text-center">
    <table>
        @* <tr>
            <td>ID</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Count</td>
            <td>@Model.Count</td>
        </tr> *@
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>